<h3>Welcome to the vrsus api</h3> 
<h2> Get a Video </h2> 
<form action="download" method="post">
	Video Name: <input type="text" name="video_name"><br>
	<input type="submit" value="Submit">
</form>

<hr>

<h2> Add a new Video </h2> 
<form action="videos/upload" method="post" enctype="multipart/form-data">
    Video Name: <input type="text" name="video_name" required></br><!-- value="Eg. jam_session_01.mp3"><br>-->
    Event Name: <input type="text" name="event_name" required></br><!-- value="Eg. hackney Festival"><br>-->
    Type: <input type="text" name="event_type" required></br> <p> types include: presentation, exhibition, concert </p>
    <p> Category: </p>
    <div class="dropdown">
        <select id="categoriesdropdown" class="dropdown-content" onchange="sel()">
            {% for message in videos %}
                <option value={{ videos[message]['category'] }}>{{ videos[message]['category'] }}</option>
            {% endfor %}
        </select>
         <input style="width:100px; float:left;" type="text" id="event_category" name="event_category" required disabled></br>
    </div>

    <script type="text/javascript">
        function myFunction(){
            document.getElementById("categoriesdropdown").classList.toggle("show");
        }

        function sel(){
            e = document.getElementById("categoriesdropdown")
            document.getElementById("event_category").value = e.options[e.selectedIndex].value;;
        }   
    </script>
    
    </br>
    
    <input type="file" name="file[]" multiple>
    <input type="submit" width="48" height="48">
</form>


<hr>

<h2> Add a new Image </h2> 
<form action="images/upload" method="post" enctype="multipart/form-data">
    Image File Name (including extention like .jpg): <input type="text" name="image_name"></br><!-- value="Eg. jam_session_01.mp3"><br>-->
    Event Name: <input type="text" name="image_event_name"></br><!-- value="Eg. hackney Festival"><br>-->
    Venue Name: <input type="text" name="image_venue_name"></br><!-- value="Eg. Sonos studios"><br>-->
    <input type="file" name="image[]" multiple>
    <input type="submit">
</form>


<h2> Current events list </h2> 


<h2> Current venues list </h2> 