<!doctype html>

<style type="text/css">

.videosection {
    background-color: #ccffcc;
    margin: 0 0;
}

.audiosection {
    background-color: #ff8080;
    margin: 0 0;
}

#type {
    float: left;
    width: 20%;
}



</style>


<h3>Welcome to the vrsus api</h3> 
<h2> Get a Video </h2> 
<form action="download" method="post">
	Video Name: <input type="text" name="video_name"><br>
	<input type="submit" value="Submit">
</form>

<hr>

<section class="videosection">
<h2> Add a new Video for an Event </h2> 
<form action="videos/upload" method="post" enctype="multipart/form-data">

    Event Name: <input type="text" name="event_name" required></br>
    
    <p> Video Name</p>
    <input type="text" name="video_name" required></br>
    <input type="file" name="video[]" multiple></br>

    <p> Audio Upload </p> 
    <input type="text" name="audio_name"></br> 
    <input type="file" name="audio[]" multiple>

    <p> Image Upload (including extention like .jpg): </p>
    <input type="text" name="image_name"></br>
    <input type="file" name="image[]" multiple></br>

    <div id="type" class="dropdown">
        <h4> Type: </h4>
        <select name="event_type" id="types_dropdown" class="dropdown-content" onchange="typeVal()">
            {% for message in types %}
                <option value={{ types[message]['type'] }}>{{ types[message]['type']}}</option>-->
            {% endfor %}
        </select>
        <input style="width:100px; float:left;" type="text" name="event_type2" id="event_type2" required></br>
    </div>
    
    <div id="category" class="dropdown">
        <h4> Category: </h4>
        <select name="event_category" id="categories_dropdown" class="dropdown-content" onchange="sel()">
            {% for message in categories %}
                <option value={{ categories[message]['cat'] }}>{{ categories[message]['cat']}}</option>-->
            {% endfor %}
        </select>
        <input style="width:100px; float:left;" type="text" name="event_category2" id="event_category2" required></br>
    </div>

    <p> SUBMIT VIDEO </p>
    <input type="submit" width="48" height="48">
</form>
<!-- <h3> Does the Video have a 3D Audio File? - add here </h3> 
    <form action="audio/upload" method="post" enctype="multipart/form-data">
        <span> Use the same file name as the associated video file and include the .tbe extension </span> </br>
        Audio File Name (including the extention .tbe): <input type="text" name="audio_name"></br> 
        <input type="file" name="audio[]" multiple>
        <input type="submit">
    </form>

    <h2> Add custom Image for Video</h2> 
    <form action="images/upload" method="post" enctype="multipart/form-data">
        Image File Name (including extention like .jpg): <input type="text" name="image_name"></br>
        <input type="file" name="image[]" multiple>
        <input type="submit">
    </form>
</section> -->

</section>

<h2> Add Other Images </h2> 
<form action="images/upload" method="post" enctype="multipart/form-data">
    Image File Name (including extention like .jpg): <input type="text" name="image_name"></br>
    Event Name: <input type="text" name="image_event_name"></br>
    <input type="file" name="image[]" multiple>
    <input type="submit">
</form>


<h2> Current events list </h2>

<script type="text/javascript">

        function typeToggle(){
            document.getElementById("types_dropdown").classList.toggle("show");
        }

        function typeVal(){
            e = document.getElementById("types_dropdown")
            document.getElementById("event_type2").value = e.options[e.selectedIndex].value;;
        }



        function myFunction(){
            document.getElementById("categories_dropdown").classList.toggle("show");
        }

        function sel(){
            e = document.getElementById("categories_dropdown")
            document.getElementById("event_category2").value = e.options[e.selectedIndex].value;;
        }
    </script>

